<div class="widget">
  <h3 class="widget-title">My Flipboard Magazines</h3>
  <div class="widget-content">
    <a data-flip-widget="mag" href="https://flipboard.com/section/tech-%26-geek-__YXV0aC9mbGlwYm9hcmQvY3VyYXRvciUyRm1hZ2F6aW5lJTJGSjFVQV9VOWZSR21QNzB4MVlqQ3NLQSUzQW0lM0ExNDg5MDIwMTM%3D">
      Tech &amp; Geek Magazine.
    </a>
    <a data-flip-widget="mag" href="https://flipboard.com/section/my-news-stream-__YXV0aC9mbGlwYm9hcmQvY3VyYXRvciUyRm1hZ2F6aW5lJTJGX1hDQ0k5MjVSNlNuVG13SlV5RFBxQSUzQW0lM0ExNDg5MDIwMTM%3D">My News Stream
    </a>
    <script src="https://cdn.flipboard.com/web/buttons/js/flbuttons.min.js" type="text/javascript"></script>
  </div>
</div>
